body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h4{
    text-align: left;
}


.modal a.close-modal {
    top: 0;
    right: 0;
}


img#drink-picture {
    width: 100%;
    padding: 10px;
    border-radius: 30px;

}